body {
  background-color: #08182F;
  color: #BCBAB8;
  font-family: 'Questrial', sans-serif;
  text-shadow: 10px 5px 5px #000000;
}

#heading-text-container {
  width: 1250px;
}

header {
  background-color: #081327;
  background-image: url("steam.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: 40px;
}

header h1 {
  margin-bottom: 5px;

}

form {
  width: 700px;
  height: 120px;
}

button, input {
  margin: 5px;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
}

input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


button {
text-align: center;
}


input[type=text] {
  background-color: #C6FCFC;
  border: 1px solid #ccc;
  border-radius: 2px;
}

::placeholder {
  color: #bfbfbf;

}


#player-id {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 0 auto;
  width: 500px;
}


#button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 500px;
  height: 70px;
}


#search-box {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 10px 5px 5px #081327;
}

#search-box-div {
  height: 70px;
  width: 100%
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2000px;
  margin: 0 auto;
}

#main-container {
  display: flex;
  justify-content: space-around;
  width: 2000px;
}

#games-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  margin: 20px;
  background-color: #0A1C34;
  box-shadow: 10px 5px 5px #081327;
}


#playlist-div {
  display: none;
  width: 900px;
  margin: 20px;
  background-color: #0A1C34;
  box-shadow: 10px 5px 5px #081327;
  /* justify-content: center
  align-items: center;
  flex-direction: column; */
}

#playlist-div object {
  height: 100px;
  margin: 10px;

}


#playlist {
  position: sticky;
  top: 0;
  width: 540;
  color: #669EBF;
  text-align: center;
  font-size: 30px;
  text-decoration:underline;
  text-underline-position: under;
}


#playlist-container {
  display: flex;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;


}
object {
  margin: 40px;
  cursor: pointer;
  box-shadow: 10px 5px 5px #081327;
}
